@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Protest+Guerrilla&display=swap');
@import "tailwindcss";

@theme {
    --color-primary: #f84565;
    --color-secondary: #D63854;
}

*{
    font-family: "Outfit", sans-serif;
}

body{
    color: white;
    background-color: #09090B;
}
